<nav class="flex items-center justify-end px-8 py-6 bg-transparent">
  <div
    class="hidden md:block fixed top-5 left-5 leading-[0.8] font-extrabold text-3xl select-none"
  >
    <div>TH</div>
    <div>HT</div>
  </div>
  <div class="flex items-center space-x-8 text-white">
    <a
      routerLink="/home"
      routerLinkActive="border-b-2 border-white"
      class="hover:text-gray-300"
      >Home</a
    >
    <a
      routerLink="/about"
      routerLinkActive="border-b-2 border-white"
      class="hover:text-gray-300"
      >About</a
    >
    <a
      routerLink="/auth/login"
      routerLinkActive="border-b-2 border-white"
      class="hover:text-gray-300"
      >Login</a
    >
    <a
      routerLink="/auth/register"
      routerLinkActive="border-b-2 border-white"
      class="hover:text-gray-300"
      >Register</a
    >
  </div>
</nav>
